* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400px;
    
}
.wrapper {
    height: 100vh;
    width: 100vw;
}

.container-left {
        margin-top: 15%;
        width: 60%;
        display:inline-block;
        padding-left: 136px;
       
}

.container-right {
    width: 40%;
    position: absolute;
    display: inline-block;
    height: 100vh;
    background-color: rgba(93, 93, 125, 0.16)
    
}
header{
    margin: 30px 0 0 57px;
    height: 41px;    
    display: block;
    color: #5D5D7D;
    font-size: 28px;
    font-style: normal;
    line-height: normal;

}
a{
    margin-right: 41px;
    color: #5D5D7D;
    font-size: 28px;
    line-height: 41px;
    letter-spacing: 0px;
    cursor: pointer;
}
a:nth-child(2){
    opacity: .6;

}
button{
    border-radius: 30px;
    border: none;
    background: #9499EA;
    filter: drop-shadow(0px 10px 24px rgba(148, 153, 234, 0.10));
    width: 269px;
    height: 62px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    line-height: 36px;
    cursor: pointer;
}
button:hover {
    opacity: .6;
}
button:active{
    opacity: .8;
}
a:hover{
    opacity: .4;

}
a:active{
    opacity: .6;
}
img{
    position: relative;
    top: 10%;
    right: 140px;
}
p {
    margin: 15px 0;
    color: #5D5D7D;
    font-size: 28px;
    line-height: 48px;
    width: 540px;
    opacity: 0.6;
    
}
h1{
    height: 160px;
    color: #5D5D7D;
    font-family: Oswald;
    font-size: 70px;
    font-style: normal;
    line-height: 80px;
    width: 368px;
}





